form {
   font-family: Arial, sans-serif;
    background-color: gray;
    padding: 20px;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;

  }
  form input{
    background-color: white;
  }

  form label {
    width: 100%;
    margin-bottom: 8px;
    font-weight: bold;
    text-align: left;
  }

  form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 1vh;

  }

  form .btn-send {
    background-color: rgb(92, 88, 88);
    color: white;
    border: none;
    padding: 6px 16px;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    outline: none;

  }
  form .btn-send:hover {
    scale: 1.1;

  }

 
  .pass-inp {

    border: none;
    padding: 10px;
    margin-left: 15px;
    margin-right: 5px;
    margin-bottom: 15px;

    font-family: 'Orbitron', sans-serif;
    outline: none;
    border-radius: 5px; 
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}